[Desktop Entry]
Encoding=UTF-8
GenericName=Text Editor
GenericName[pl]=Edytor tekstu
Name=jEdit
Name[xx]=xxjEditxx
MimeType=text/plain;application/x-kate-project
Exec=jedit %u
Icon=jedit.png
Type=Application
Terminal=0
Categories=TextEditor;
