[Desktop Entry]
GenericName=Text Editor
GenericName[pl]=Edytor tekstu
Name=jEdit
Comment=Text Editor
Comment[pl]=Edytor tekstu
MimeType=text/plain;application/x-kate-project;
Exec=jedit %u
Icon=jedit
Type=Application
Terminal=false
Categories=TextEditor;
